name = "budgetwise-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = [ "nodejs_compat" ]

[[d1_databases]]
binding = "DB"
database_name = "budgetwise_db"
database_id = "e003aed8-6834-4435-9f3e-413bf257c8e8"

[[r2_buckets]]
binding = "R2"
bucket_name = "budgetwise-assets"
